Repository prgrms-web-devcourse-final-project/WEB4_5_NOBREAKTIME_BE, pull requests merged in 2025-05, with the labels that each got.

#91 ✨ feat: 영상 분석 기능 연결
  src/main/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquizresult/repository/WordQuizResultRepository.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoDetail.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/event/KeywordSavedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/event/VideoAnalyzedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/listener/VideoEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/VideoService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/listener/VideoHistoryListener.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbookitem/entity/WordbookItem.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbookitem/repository/WordbookItemRepository.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/SecurityConfig.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#99 ✨ feat: 회원 정보 수정 / 중복 체크 / 조회 / 로그아웃 + 스웨거 오류 응답 설정 추가
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoRequest.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/UserProfileResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/repository/MemberRepository.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/SecurityConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/CustomOAuth2SuccessHandler.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/processor/GoogleUserProcessor.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/processor/KakaoUserProcessor.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/processor/NaverUserProcessor.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2Service.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorResponse.java
  src/main/java/com/mallang/mallang_backend/global/exception/GlobalExceptionHandler.java
  src/main/java/com/mallang/mallang_backend/global/filter/CustomAuthenticationFilter.java
  src/main/java/com/mallang/mallang_backend/global/filter/CustomUserDetails.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/java/com/mallang/mallang_backend/global/swagger/ErrorResponseCustomizer.java
  src/main/java/com/mallang/mallang_backend/global/swagger/PossibleErrors.java
  src/main/java/com/mallang/mallang_backend/global/swagger/SwaggerConfig.java
  src/main/java/com/mallang/mallang_backend/global/token/JwtService.java
  src/main/java/com/mallang/mallang_backend/global/token/TokenService.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/quiz/wordquiz/service/impl/WordQuizServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/test/AuthTest.java
  src/test/java/com/mallang/mallang_backend/domain/test/AuthTestController.java
Labels: 🔥 backend, ✨ feat

#100 ✨ feat: 모든 API에 PossibleErrors 추가
  src/main/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/controller/ExpressionQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbookitem/controller/ExpressionBookItemController.java
  src/main/java/com/mallang/mallang_backend/domain/video/learning/controller/VideoLearningQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/controller/VideoHistoryController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/controller/WordController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookController.java
  src/main/java/com/mallang/mallang_backend/global/swagger/ErrorResponseCustomizer.java
Labels: 🔥 backend, ✨ feat

#104 ✨ feat: 유튜브 API circuit-breaker 도입
  src/main/java/com/mallang/mallang_backend/MallangBackendApplication.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
Labels: 🔥 backend, ✨ feat

#107 ✨ feat: 회원 언어 정보 업데이트 API 및 비동기 처리 설정 #106
  Dockerfile
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/UserProfileResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/repository/MemberRepository.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/CustomOAuth2SuccessHandler.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/processor/KakaoUserProcessor.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2Service.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/service/RandomStringGenerator.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/logback-spring.xml
  src/main/resources/messages.properties
Labels: 🔥 backend, ✨ feat

#111 ✨ feat: CustomUserDetails 숨김 처리
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardController.java
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/controller/ExpressionQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/controller/VideoHistoryController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookController.java
Labels: 🔥 backend, ✨ feat

#113 ✨ feat: 필터 쿠키 파싱으로 변경, redis 도입 #116
  build.gradle
  docker-compose.yml
  src/main/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardController.java
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/controller/ExpressionQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/controller/VideoHistoryController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookController.java
  src/main/java/com/mallang/mallang_backend/global/config/RedisConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/SecurityConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/WebConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/CustomOAuth2SuccessHandler.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/filter/CustomAuthenticationFilter.java
  src/main/java/com/mallang/mallang_backend/global/filter/login/CustomUserDetails.java
  src/main/java/com/mallang/mallang_backend/global/filter/login/Login.java
  src/main/java/com/mallang/mallang_backend/global/filter/login/LoginUserArgumentResolver.java
  src/main/java/com/mallang/mallang_backend/global/filter/transactionfilter/MDCFilter.java
  src/main/java/com/mallang/mallang_backend/global/filter/userfilter/AccessTokenFilter.java
  src/main/java/com/mallang/mallang_backend/global/filter/userfilter/CustomAbstractFilter.java
  src/main/java/com/mallang/mallang_backend/global/filter/userfilter/JwtAuthUtils.java
  src/main/java/com/mallang/mallang_backend/global/filter/userfilter/RefreshTokenFilter.java
  src/main/java/com/mallang/mallang_backend/global/token/JwtService.java
  src/main/java/com/mallang/mallang_backend/global/token/TokenService.java
  src/main/java/com/mallang/mallang_backend/test/TestController.java
  src/test/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizControllerTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/CustomAuthenticationFilterTest.java
  src/test/java/com/mallang/mallang_backend/global/util/SecurityTestUtils.java
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#117 🐛 fix: 로그아웃 시 액세스 토큰 삭제 및 프로메테우스 + 그라파나 설정 #116
  docker-compose.yml
  prometheus.yml
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/global/token/TokenService.java
Labels: 🐛bug, 🔥 backend, ⚙️chore

#108 ✨ feat: 회원 레벨 측정 기능 구현 (#102)
  sql/1_video.sql
  sql/2_subtitle.sql
  sql/3_keyword.sql
  sql/4_word.sql
  sql/5_expression.sql
  sql/6_expressionBookItem.sql
  src/main/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardController.java
  src/main/java/com/mallang/mallang_backend/domain/dashboard/dto/LevelCheckResponse.java
  src/main/java/com/mallang/mallang_backend/domain/dashboard/service/DashboardService.java
  src/main/java/com/mallang/mallang_backend/domain/dashboard/service/impl/DashboardServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Level.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquizresult/repository/ExpressionQuizResultRepository.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquizresult/repository/WordQuizResultRepository.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/repository/ExpressionBookRepository.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/impl/ExpressionBookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/repository/WordRepository.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptService.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/util/GptScriptProcessor.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/dashboard/service/impl/DashboardServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/ExpressionBookServiceImplTest2.java
  src/test/java/com/mallang/mallang_backend/domain/test/AuthTestController.java
Labels: 🔥 backend, ✨ feat

#121 ✨ feat: Global Exception Handler 상위 핸들러 추가
  src/main/java/com/mallang/mallang_backend/global/exception/GlobalExceptionHandler.java
  src/test/java/com/mallang/mallang_backend/global/exception/GlobalExceptionHandlerTest.java
Labels: 🔥 backend, ✨ feat

#123 ♻️ refactor: GptService 프롬프트 분리 (#122)
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptPromptBuilder.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
Labels: 🔥 backend, ♻️ refactor

#127 🐛 fix: 기존 기록 조회 시 lastViewedAt 필드 추가해 중복 방지
  src/main/java/com/mallang/mallang_backend/domain/videohistory/dto/VideoHistoryResponse.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/entity/VideoHistory.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/mapper/VideoHistoryMapper.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/repository/VideoHistoryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
Labels: 🐛bug, 🔥 backend

#129 ✨ feat: 영상 조회에 페이지네이션 추가, 로직 개선
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/client/YouTubeClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeServiceTest.java
Labels: 🔥 backend, ✨ feat

#130 🐛 fix: 영상 분석 시 자막 ID 누락 오류 수정
  src/main/java/com/mallang/mallang_backend/domain/stt/converter/TranscriptParserImpl.java
  src/main/java/com/mallang/mallang_backend/domain/stt/converter/TranscriptSegment.java
  src/main/java/com/mallang/mallang_backend/domain/video/subtitle/repository/SubtitleRepository.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/dto/GptSubtitleResponse.java
  src/main/java/com/mallang/mallang_backend/global/gpt/util/GptScriptProcessor.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/global/gpt/util/GptScriptProcessorTest.java
Labels: 🐛bug, 🔥 backend

#133 ♻️ refactor: VideoLearningQuizServiceImpl에서 퀴즈 아이템 수 제한 로직 제거
  src/main/java/com/mallang/mallang_backend/domain/video/learning/service/impl/VideoLearningQuizServiceImpl.java
Labels: 🔥 backend, ♻️ refactor

#138 ✨ feat: 결제 요청 로직 + AOP 추가 (#137)
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/payment/docs/PaymentRequestDocs.java
  src/main/java/com/mallang/mallang_backend/domain/payment/docs/RsDataDocs.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/PaymentRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/PaymentSimpleRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PayStatus.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/impl/PaymentServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestService.java
  src/main/java/com/mallang/mallang_backend/domain/plan/entity/Plan.java
  src/main/java/com/mallang/mallang_backend/domain/plan/repository/PlanRepository.java
  src/main/java/com/mallang/mallang_backend/global/aop/log/LoggingAspect.java
  src/main/java/com/mallang/mallang_backend/global/aop/time/ExecutionTimeAspect.java
  src/main/java/com/mallang/mallang_backend/global/aop/time/TimeTrace.java
  src/main/java/com/mallang/mallang_backend/global/config/RedisConfig.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/dto/RsData.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/exception/GlobalExceptionHandler.java
  src/main/java/com/mallang/mallang_backend/global/filter/login/CustomUserDetails.java
  src/main/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfig.java
  src/main/java/com/mallang/mallang_backend/global/swagger/SwaggerConfig.java
  src/main/java/com/mallang/mallang_backend/global/token/TokenService.java
  src/main/resources/data.sql
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/global/aop/ExecutionTimeAspectTest.java
Labels: 🔥 backend, ✨ feat, ⚙️chore

#139 ✨ feat: ExceptionHandler 로그 추가
  src/main/java/com/mallang/mallang_backend/global/exception/GlobalExceptionHandler.java
Labels: 🔥 backend

#140 ✨ feat: 북마크 기능 개발
  src/main/java/com/mallang/mallang_backend/domain/bookmark/controller/BookmarkController.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/entity/Bookmark.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/repository/BookmarkRepository.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/service/BookmarkService.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/service/impl/BookmarkServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/util/VideoUtils.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/VideoService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#142 ✨ feat: 영상 분석 기능과 단어 추가 기능에 락 적용 (#134)
  src/main/java/com/mallang/mallang_backend/domain/video/subtitle/repository/SubtitleRepository.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/listener/VideoEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/AnalyzeVideoResultFetcher.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/impl/SavedWordResultFetcher.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/impl/WordServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceMockImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/util/GptScriptProcessor.java
  src/main/java/com/mallang/mallang_backend/global/util/clova/ClovaSpeechClientMockImpl.java
  src/main/java/com/mallang/mallang_backend/global/util/redis/RedisDistributedLock.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/WordServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#145 ✨ feat: 북마크 Swagger 추가
  src/main/java/com/mallang/mallang_backend/domain/bookmark/controller/BookmarkController.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/entity/Bookmark.java
  src/main/java/com/mallang/mallang_backend/domain/bookmark/service/impl/BookmarkServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/bookmark/service/impl/BookmarkServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#149 feat: 결제 승인 테스트 코드 추가 (#148)
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoRequest.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/plan/entity/Plan.java
  src/main/java/com/mallang/mallang_backend/global/config/RedisConfig.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestServiceTest.java
Labels: 🔥 backend, ♻️ refactor

#158 ✨ feat: 단어장 조회 응답형식 수정 (#154)
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/service/impl/WordQuizServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/repository/VideoRepository.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/dto/WordResponse.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#152 ✨ feat: 표현 목록 조회 응답 수정 (#151)
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/ExpressionResponse.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/repository/ExpressionBookRepository.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookService.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/impl/ExpressionBookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbookitem/repository/ExpressionBookItemRepository.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/ExpressionBookServiceImplTest2.java
Labels: 🔥 backend, ✨ feat

#153 ✨ feat: 영상 분석에 SSE 적용 및 이벤트 기반으로 변경 (#143)
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/listener/VideoEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/VideoService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/util/youtube/YoutubeAudioExtractorImpl.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#157 ✨ feat: 회원 탈퇴 로그 추가 + 재시도 기간 설정 (#155)
  src/main/java/com/mallang/mallang_backend/MallangBackendApplication.java
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/log/elastic/LoginMemberLog.java
  src/main/java/com/mallang/mallang_backend/domain/member/log/elastic/LogoutMemberLog.java
  src/main/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLog.java
  src/main/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLogRepository.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/profile/MemberProfileService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/profile/MemberProfileServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/sub/SubscriptionService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/sub/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/valid/MemberValidationService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/valid/MemberValidationServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/withdrawn/MemberWithdrawalService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/withdrawn/MemberWithdrawalServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/controller/ExpressionQuizController.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/controller/WordQuizController.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/CustomOAuth2SuccessHandler.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2Service.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLogTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberScheduleTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2ServiceTest.java
Labels: 🔥 backend, ✨ feat

#159 ✨ feat: 비디오 검색에 레디스 캐시 적용
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoCacheService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoQueryService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/CacheConfig.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoCacheServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoQueryServiceTest.java
Labels: 🔥 backend, ✨ feat

#162 ✨ feat: 단어 목록 조회 응답 수정 (#146)
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/dto/WordResponse.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/WordbookService.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbookitem/repository/WordbookItemRepository.java
Labels: 🔥 backend, ✨ feat

#176 🔧 chore: 설정 파일 추가 및 자잘한 변경
  build.gradle
  docker-compose.yml
  src/main/java/com/mallang/mallang_backend/domain/member/service/withdrawn/MemberWithdrawalServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/docs/PaymentRequestDocs.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/after/PaymentFailureRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/PaymentApproveRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/PaymentResponse.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/request/PaymentRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/request/PaymentSimpleRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PayPlatform.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PayStatus.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PaymentFailureReason.java
  src/main/java/com/mallang/mallang_backend/domain/payment/history/PaymentHistory.java
  src/main/java/com/mallang/mallang_backend/domain/payment/history/PaymentHistoryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/event/dto/PaymentFailedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/event/dto/PaymentMailSendEvent.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/event/dto/PaymentUpdatedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/entity/Subscription.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionRepository.java
  src/main/java/com/mallang/mallang_backend/global/config/AsyncConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/MailConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/RedisConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/WebClientConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/swagger/SwaggerConfig.java
  src/main/java/com/mallang/mallang_backend/global/token/TokenService.java
  src/main/resources/data.sql
  src/main/resources/messages.properties
Labels: 🐛bug, 🔥 backend

#165 ✨ feat: VideoHistory 기능 보완
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/repository/VideoHistoryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/service/VideoHistoryService.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#171 ✨ feat: 표현함 퀴즈 응답형식 수정 (#170)
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/dto/ExpressionQuizItem.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/service/impl/ExpressionQuizServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/service/impl/ExpressionQuizServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#167 ✨ feat: Gpt 응답 파싱 오류 해결 (#163)
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/dto/WordQuizItem.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/service/impl/WordQuizServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/controller/WordController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/event/NewWordSearchedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/listener/WordEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/WordService.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/impl/WordServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptService.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceMockImpl.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/voca/word/WordServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImplTest.java
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#169 ✨ feat: 영상 조회 캐시 로직 수정, 락 설정
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/dto/CachedVideos.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoCacheService.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoCacheServiceTest.java
Labels: 🔥 backend, ✨ feat

#174 ✨ 결제 승인 로직 및 DB 저장 + 이벤트 발행 구현 (#141)
  src/main/java/com/mallang/mallang_backend/domain/member/service/sub/SubscriptionService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/sub/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/payment/history/PaymentHistoryQueryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/mail/EmailSender.java
  src/main/java/com/mallang/mallang_backend/domain/payment/mail/MailSender.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/common/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPort.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/event/PaymentEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRequestServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/payment/mail/MailSenderIntegrationTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/mail/MailSenderTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplUnitTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/event/PaymentEventListenerTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisServiceTest.java
Labels: 🔥 backend, ✨ feat

#178 ✨ feat: BaseTime 추가 (#164)
  src/main/java/com/mallang/mallang_backend/domain/bookmark/entity/Bookmark.java
  src/main/java/com/mallang/mallang_backend/domain/keyword/entity/Keyword.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/plan/entity/Plan.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/entity/ExpressionQuiz.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquizresult/entity/ExpressionQuizResult.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/entity/WordQuiz.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquizresult/entity/WordQuizResult.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expression/entity/Expression.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/entity/ExpressionBook.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbookitem/entity/ExpressionBookItem.java
  src/main/java/com/mallang/mallang_backend/domain/video/subtitle/entity/Subtitle.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/entity/Videos.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/entity/VideoHistory.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/entity/Word.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/entity/Wordbook.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbookitem/entity/WordbookItem.java
  src/main/java/com/mallang/mallang_backend/global/entity/BaseTime.java
  src/main/resources/data.sql
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#185 ✨ feat: 모니터링 세팅 및 설정 (#118)
  alert.rules.yml
  alertmanager.yml
  docker-compose.yml
  prometheus.yml
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
  src/main/java/com/mallang/mallang_backend/global/aop/monitor/ExternalApiMonitoringAspect.java
  src/main/java/com/mallang/mallang_backend/global/aop/monitor/MeasureExecutionTime.java
  src/main/java/com/mallang/mallang_backend/global/aop/monitor/MetricExecutionAspect.java
  src/main/java/com/mallang/mallang_backend/global/aop/monitor/MonitorExternalApi.java
  src/main/java/com/mallang/mallang_backend/global/dto/TokenUsageType.java
  src/main/java/com/mallang/mallang_backend/global/gpt/dto/OpenAiResponse.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/test/TestController.java
  src/main/java/com/mallang/mallang_backend/test/TestMonitorService.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/code/TestService.java
Labels: 🔥 backend, ✨ feat, ⚙️chore

#187 ✨ feat: 자동 결제가 되도록 빌링 설정 추가 및 구독 내역 확인 로직(#173)
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/SubscriptionResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/UserProfileResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/profile/MemberProfileServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/sub/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/withdrawn/MemberWithdrawalServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/BillingApproveRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/BillingPaymentResponse.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/Failure.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/PaymentResponse.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/approve/Receipt.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/request/BillingPaymentRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/request/IssueBillingKeyRequest.java
  src/main/java/com/mallang/mallang_backend/domain/payment/dto/request/IssueBillingKeyResponse.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/common/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPort.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/event/PaymentEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/plan/entity/Plan.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/entity/Subscription.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/entity/SubscriptionStatus.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionQueryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionRepository.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionService.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/WebClientConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/data.sql
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLogTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/profile/MemberProfileServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplUnitTest.java
Labels: 🔥 backend, ✨ feat

#193 ✨ feat: 표현 목록 응답 조회 (Param expressionbookIds) (#183)
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/repository/ExpressionBookRepository.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookService.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/impl/ExpressionBookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbookitem/entity/ExpressionBookItem.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbookitem/repository/ExpressionBookItemRepository.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/ExpressionBookServiceImplTest2.java
Labels: 🔥 backend, ✨ feat

#194 ✨ feat: 결제 로직 분리 (키 발급 + 결제) (#192)
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PayStatus.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/PaymentCancelReason.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/common/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPort.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisService.java
  src/main/java/com/mallang/mallang_backend/domain/plan/entity/Plan.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/entity/Subscription.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionService.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/aop/log/LoggingAspect.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/resources/data.sql
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#201 ♻️ refactor: 단어장/표현함 개선 (#200)
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookController.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/DeleteExpressionsRequest.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/ExpressionBookRequest.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/ExpressionSaveRequest.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/MoveExpressionsRequest.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/dto/UpdateExpressionBookNameRequest.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/impl/ExpressionBookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookController.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/repository/WordbookRepository.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/messages.properties
Labels: 🔥 backend, ♻️ refactor

#204 ♻️ refactor: 비디오 히스토리 수정
  src/main/java/com/mallang/mallang_backend/domain/videohistory/repository/VideoHistoryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#207 ✨ feat: 영상 분석 기능 락 재설정 (#202)
  sql/1_video.sql
  sql/2_subtitle.sql
  sql/3_keyword.sql
  sql/4_word.sql
  sql/5_expression.sql
  sql/6_expressionBookItem.sql
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/listener/VideoEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/VideoService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/util/sse/SseEmitterManager.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#210 ✨ feat: 트랜잭션 로직 분리 및 자동 구독 만료, 구독 갱신 설정 추가 (#197) (#198)
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/AutoBillingJob.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/AutowiringSpringBeanJobFactory.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/LoggingJobListener.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/RetryJobListener.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/RetryTriggerListener.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/SubscriptionExpireJob.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentQueryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/scheduler/AutoBillingHandler.java
  src/main/java/com/mallang/mallang_backend/domain/payment/scheduler/PreparedService.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionQueryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/resources/messages.properties
Labels: 🔥 backend, ✨ feat, ⚙️chore

#211 ✨ feat: 단어 분석 시 OpenAI의 예문에 대문자로 등장해도 허용
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/common/Language.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceMockImpl.java
  src/main/java/com/mallang/mallang_backend/global/util/youtube/YoutubeAudioExtractorImpl.java
  src/main/java/com/mallang/mallang_backend/global/validation/WordValidator.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/global/util/youtube/YoutubeAudioExtractorImplTest.java
Labels: 🔥 backend, ✨ feat

#212 ✨ feat: 개발 중 누락된 테스트코드 추가
  build.gradle
  src/test/java/com/mallang/mallang_backend/domain/video/learning/VideoLearningTestFactory.java
  src/test/java/com/mallang/mallang_backend/domain/video/learning/controller/VideoLearningQuizControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/learning/service/impl/VideoLearningQuizServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/VideoTestFactory.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClientTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/controller/VideoControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/client/YoutubeApiClientTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/controller/VideoHistoryControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/listener/VideoHistoryListenerTest.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/videohistory/service/impl/VideoHistoryTestFactory.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomBulkheadConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomCircuitBreakerConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomTimeLimiterConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/code/TestService.java
Labels: 🔥 backend, ✨ feat

#215 ✨ feat: 모니터링 Sentry 세팅 추가 (#206)
  alertmanager.yml
  build.gradle
  docker-compose.yml
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/global/aop/log/LoggingAspect.java
  src/main/java/com/mallang/mallang_backend/global/config/WebConfig.java
  src/main/java/com/mallang/mallang_backend/global/interceptor/SentryUserInterceptor.java
  src/main/java/com/mallang/mallang_backend/test/TestController.java
  src/main/resources/logback-spring.xml
Labels: 🔥 backend, ✨ feat

#216 ✨ feat: 일본어 구현 (#213)
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoRequest.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/service/impl/ExpressionQuizServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/quiz/wordquiz/service/impl/WordQuizServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/impl/ExpressionBookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/event/KeywordSavedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/listener/VideoEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/event/NewWordSearchedEvent.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/listener/WordEventListener.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/WordService.java
  src/main/java/com/mallang/mallang_backend/domain/voca/word/service/impl/WordServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/repository/WordbookRepository.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/common/Language.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptPromptBuilder.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptService.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceMockImpl.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/java/com/mallang/mallang_backend/global/util/japanese/JapaneseSplitter.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/quiz/wordquiz/service/impl/WordQuizServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/ExpressionBookServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/WordServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#218 ✨ feat: 영상 조회 파라미터 추가, 기타 테스트 수정
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/video/util/VideoUtils.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/SearchContext.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoListRequest.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/client/YoutubeApiClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/config/VideoSearchProperties.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
  src/test/java/com/mallang/mallang_backend/domain/video/learning/controller/VideoLearningQuizControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClientTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/controller/VideoControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/client/YoutubeApiClientTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeServiceTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomBulkheadConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomCircuitBreakerConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomTimeLimiterConfigTest.java
Labels: 🔥 backend, ✨ feat, ⚙️chore

#223 ✨ feat: 기타 테스트 코드 추가/수정 (#219)
  src/test/java/com/mallang/mallang_backend/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/controller/ExpressionBookControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookServiceImplTest2.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookServiceImplTest3.java
  src/test/java/com/mallang/mallang_backend/global/aop/monitor/ExternalApiMonitoringAspectTest.java
  src/test/java/com/mallang/mallang_backend/global/aop/time/ExecutionTimeAspectTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/login/CustomUserDetailsTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/login/LoginUserArgumentResolverTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/transactionfilter/MDCFilterTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/userfilter/AccessTokenFilterTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/userfilter/CustomAbstractFilterTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/userfilter/JwtAuthUtilsTest.java
  src/test/java/com/mallang/mallang_backend/global/filter/userfilter/RefreshTokenFilterTest.java
  src/test/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImplTest.java
  src/test/java/com/mallang/mallang_backend/global/init/DataInitializerTest.java
Labels: 🔥 backend, ✨ feat

#224 🐛 bug: 단어 추가 시 중복 저장 문제 해결 (#221)
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbookitem/entity/WordbookItem.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/resources/messages.properties
Labels: 🐛bug, 🔥 backend

#222 ✨ feat: 로깅 세부화 + 오류 처리, 테스트 코드 추가
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/job/AutoBillingJob.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/listener/RetryJobListener.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/common/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/aop/log/LoggingAspect.java
  src/main/java/com/mallang/mallang_backend/global/config/QuartzConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/SecurityConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2Service.java
  src/main/resources/data.sql
  src/main/resources/messages.properties
  src/main/resources/schema.sql.default
  src/test/java/com/mallang/mallang_backend/domain/factory/EntityTestFactory.java
  src/test/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLogTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/AutowiringSpringBeanJobFactoryTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/QuartzJobTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/SubscriptionServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/job/JobDataMapTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/job/QuartzAutoJobIntegrationTest.java
  src/test/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionQueryRepositoryTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomCircuitBreakerConfigTest.java
Labels: 🔥 backend, ♻️ refactor

#230 ✨ feat: 쿼츠 스케줄러 테스트 코드 작성 (#229)
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/job/SubscriptionExpireJob.java
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/listener/RetryJobListener.java
  src/main/java/com/mallang/mallang_backend/global/util/job/JobDataUtils.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/QuartzJobTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/job/JobDataMapTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/job/QuartzAutoJobIntegrationTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/job/SubscriptionExpireJobTest.java
Labels: 🔥 backend

#231 ✨ feat: yt-dlp 명령어 환경 변수 처리 (서버/로컬 분리 위함)
  src/main/java/com/mallang/mallang_backend/global/util/youtube/YoutubeAudioExtractorImpl.java
  src/test/java/com/mallang/mallang_backend/global/util/youtube/YoutubeAudioExtractorImplTest.java
Labels: 🔥 backend, ✨ feat

#233 ✨ feat: 트랜잭션 분리 (외부 API) 및 테스트 코드 추가 (#198)
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/payment/entity/Payment.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentQueryRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/repository/PaymentRepository.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/common/PaymentService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/PaymentFacade.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/complete/CompletePayService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/complete/CompletePayServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/error/HandleErrorService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/prepare/PreparePayService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/process/prepare/PreparePayServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/thirdparty/PaymentApiPort.java
  src/main/java/com/mallang/mallang_backend/domain/payment/thirdparty/PaymentApiPortImpl.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/init/factory/EntityTestFactory.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/bookmark/controller/BookmarkControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/factory/EntityTestFactory.java
  src/test/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLogTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberScheduleTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/repository/LockTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/repository/PaymentQueryRepositoryTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentApiPortImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/confirm/PaymentConfirmServiceImplUnitTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/process/prepare/PreparePayServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/service/request/PaymentRedisServiceTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomCircuitBreakerConfigTest.java
Labels: 🔥 backend, ✨ feat

#234 ✨ feat: VideoResponse에 duration 필드 추가 및 관련 메서드 수정
  src/main/java/com/mallang/mallang_backend/domain/bookmark/controller/BookmarkController.java
  src/main/java/com/mallang/mallang_backend/domain/video/util/VideoUtils.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoDetail.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/entity/Videos.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/videohistory/dto/VideoHistoryResponse.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/controller/VideoControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoQueryServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/service/impl/VideoServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#236 ✨ feat: dashboard+word 테스트
  src/test/java/com/mallang/mallang_backend/domain/dashboard/controller/DashboardControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/dashboard/service/impl/DashboardServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/WordServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/controller/WordControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/service/impl/SavedWordResultFetcherTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/word/service/impl/WordServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/controller/WordbookControllerTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbookItem/repository/WordbookItemRepositoryCustomImplTest.java
Labels: 🔥 backend

#238 🐛 fix: gptResult 파싱 시 백틱 문제 해결 (#237)
  src/main/java/com/mallang/mallang_backend/global/gpt/service/GptPromptBuilder.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceMockImpl.java
  src/main/java/com/mallang/mallang_backend/global/gpt/util/GptScriptProcessor.java
  src/test/java/com/mallang/mallang_backend/global/gpt/service/impl/GptPromptBuilderImplTest.java
  src/test/java/com/mallang/mallang_backend/global/gpt/service/impl/GptServiceImplTest.java
Labels: 🐛bug, 🔥 backend

#240 ✨ feat: 비디오 캐시 retry, YouTube 서비스 폴백 리팩토링, 로깅 및 테스트 추가
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/service/VideoCacheRetryService.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/cache/service/VideoCacheRetryServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeServiceTest.java
Labels: 🔥 backend, ✨ feat

#243 ♻️ Refactor: 회원 재가입 error status 수정 + 클래스 리팩토링
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/log/withdrawn/WithdrawnLog.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/CustomOAuth2SuccessHandler.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/processor/GoogleUserProcessor.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/processor/KakaoUserProcessor.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/processor/NaverUserProcessor.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/processor/OAuth2UserProcessor.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/service/CustomOAuth2Service.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/service/ExternalOAuth2UserService.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/service/OAuthLoginService.java
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/service/RandomStringGenerator.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/valid/MemberValidationService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/valid/MemberValidationServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/config/SecurityConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/exception/custom/RetryableException.java
  src/main/java/com/mallang/mallang_backend/global/init/factory/EntityTestFactory.java
  src/main/java/com/mallang/mallang_backend/global/resilience4j/CustomCircuitBreakerConfig.java
  src/main/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfig.java
  src/main/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfigV2.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/member/oauth/service/CustomOAuth2ServiceTest.java
  src/test/java/com/mallang/mallang_backend/domain/member/service/impl/MemberServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/SubscriptionServiceTest.java
  src/test/java/com/mallang/mallang_backend/global/config/oauth/service/CustomOAuth2ServiceUnitTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfigTest.java
Labels: 🔥 backend, ✨ feat

#244 ✨ feat: 단어장/표현함 기본 이름 변경, 레벨 측정 기준을 20개로 변경
  src/main/java/com/mallang/mallang_backend/domain/dashboard/service/impl/DashboardServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/test/java/com/mallang/mallang_backend/domain/dashboard/service/impl/DashboardServiceImplTest.java
  src/test/java/com/mallang/mallang_backend/domain/sentence/expressionbook/service/ExpressionBookServiceImplTest2.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
Labels: 🔥 backend, ✨ feat

#246 ✨ feat: 슬랙 알림 추가
  build.gradle
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/job/AutoBillingJob.java
  src/main/java/com/mallang/mallang_backend/global/slack/SlackNotification.java
  src/main/java/com/mallang/mallang_backend/global/slack/SlackNotificationAspect.java
  src/main/java/com/mallang/mallang_backend/global/slack/SlackNotifier.java
  src/test/java/com/mallang/mallang_backend/domain/payment/quartz/listener/RetryJobListenerTest.java
  src/test/java/com/mallang/mallang_backend/global/slack/SlackNotifierTest.java
Labels: 🔥 backend, ✨ feat

#248 ✨ feat: 동영상 캐시 갱신을 위한 Quartz 스케줄러 작업 및 서비스 추가, 캐시 설정 개선
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/quartz/job/CacheSchedulerJob.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/service/CacheSchedulerService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/service/VideoCacheRetryService.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoListRequest.java
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeService.java
  src/main/java/com/mallang/mallang_backend/global/config/CacheConfig.java
  src/main/java/com/mallang/mallang_backend/global/config/QuartzConfig.java
  src/main/java/com/mallang/mallang_backend/global/constants/AppConstants.java
  src/test/java/com/mallang/mallang_backend/domain/video/youtube/service/YoutubeServiceTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomBulkheadConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfigTest.java
  src/test/java/com/mallang/mallang_backend/global/resilience4j/CustomTimeLimiterConfigTest.java
Labels: 🔥 backend, ✨ feat

#251 🐛 fix: 회원 닉네임 수정 + 이메일 수정이 불가능하도록, 구독 업데이트 시 모든 언어를 사용할 수 있도록 변경 (#249)
  src/main/java/com/mallang/mallang_backend/domain/member/controller/MemberController.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoRequest.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/ChangeInfoResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/SubscriptionResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/dto/UserProfileResponse.java
  src/main/java/com/mallang/mallang_backend/domain/member/entity/Member.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberService.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/main/MemberServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/member/service/profile/MemberProfileServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/global/common/Language.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/test/java/com/mallang/mallang_backend/global/slack/SlackNotifierTest.java
Labels: 🐛bug, 🔥 backend

#254 ✨ feat: Retry 최종 실패 시 fallback 에서 슬랙에 알림 전송 (#252)
  src/main/java/com/mallang/mallang_backend/domain/payment/quartz/job/AutoBillingJob.java
  src/main/java/com/mallang/mallang_backend/global/resilience4j/CustomRetryConfigV2.java
  src/main/resources/qrtz_schema.sql.default
  src/test/java/com/mallang/mallang_backend/domain/member/oauth/service/CustomOAuth2ServiceTest.java
  src/test/java/com/mallang/mallang_backend/global/slack/SlackNotifierTest.java
Labels: 🔥 backend, ✨ feat

#257 ✅ test: 주석 처리
  src/test/java/com/mallang/mallang_backend/domain/payment/service/process/prepare/PreparePayServiceImplTest.java
Labels: 🔥 backend, ⚙️chore

#261 🐛 fix: 수정된 언어 코드 및 스케줄러 크론 표현식 개선
  src/main/java/com/mallang/mallang_backend/domain/video/youtube/mapper/DurationMapper.java
  src/main/java/com/mallang/mallang_backend/global/config/QuartzConfig.java
Labels: 🐛bug, 🔥 backend

#264 🐛 fix: 중복 구독 방지 로직 추가
  src/main/java/com/mallang/mallang_backend/domain/member/oauth/service/OAuthLoginService.java
  src/main/java/com/mallang/mallang_backend/domain/payment/controller/PaymentController.java
  src/main/java/com/mallang/mallang_backend/domain/subscription/service/SubscriptionServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/quartz/job/CacheSchedulerJob.java
  src/main/java/com/mallang/mallang_backend/global/config/QuartzConfig.java
  src/main/java/com/mallang/mallang_backend/global/exception/ErrorCode.java
  src/main/java/com/mallang/mallang_backend/global/init/DataInitializer.java
  src/main/resources/messages.properties
  src/test/java/com/mallang/mallang_backend/domain/subscription/repository/SubscriptionQueryRepositoryTest.java
Labels: 🐛bug, 🔥 backend

#277 ✨ feat: VideoLearningExpressionQuizItem에서 문장 구두점 제거 로직 개선
  src/main/java/com/mallang/mallang_backend/domain/video/learning/dto/VideoLearningExpressionQuizItem.java
Labels: 🐛bug, 🔥 backend

#279 ✨ feat: VideoController에서 sse 오류 해결하기 위해 헤더 추가
  src/main/java/com/mallang/mallang_backend/domain/video/video/controller/VideoController.java
Labels: 🐛bug, 🔥 backend

#281 🐛 fix: 수정된 ExpressionBookItemId 순서로 저장 로직 개선
  src/main/java/com/mallang/mallang_backend/domain/quiz/expressionquiz/service/impl/ExpressionQuizServiceImpl.java
Labels: 🐛bug, 🔥 backend

#291 ✨ feat: 영상 조회에 short 영상도 포함, 영상 학습 퀴즈 캐싱 적용
  src/main/java/com/mallang/mallang_backend/domain/video/learning/dto/VideoLearningExpressionQuizItem.java
  src/main/java/com/mallang/mallang_backend/domain/video/learning/dto/VideoLearningExpressionQuizListResponse.java
  src/main/java/com/mallang/mallang_backend/domain/video/learning/service/impl/VideoLearningQuizServiceImpl.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/cache/client/VideoCacheClient.java
  src/main/java/com/mallang/mallang_backend/domain/video/video/dto/VideoListRequest.java
  src/main/java/com/mallang/mallang_backend/global/config/CacheConfig.java
  src/test/java/com/mallang/mallang_backend/domain/video/video/cache/VideoCacheClientTest.java
Labels: 🔥 backend, ✨ feat

#293 ✨ feat: WordbookServiceImpl에서 언어 불일치 시 단어 추가 로직 수정 및 테스트 케이스 추가
  src/main/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImpl.java
  src/test/java/com/mallang/mallang_backend/domain/voca/wordbook/service/impl/WordbookServiceImplTest.java
Labels: 🐛bug, 🔥 backend
